@model ClubAdministration.Models.player

@{
    ViewBag.Title = "ويرايش اطلاعات " + " - " + Model.name + " " + Model.familiy;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal p-0 mb-2 shadow-sm">
        <h4 class="bg-light border text-center p-2 py-3 m-0 rounded-top">مشخصات بازیکن</h4>
        <div class="container-fluid border rounded-bottom border-top-0 m-0">
            @Html.ValidationSummary(true, "", new { @class = "text-danger bg-warning" })
            @Html.HiddenFor(model => model.ID)
            <div class="form-group row font-weight-bold">
                <div class="col-sm-12 col-md-6">
                    @Html.Label("نام", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-12 col-md-6">
                    @Html.Label("نام خانوادگي", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.familiy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.familiy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row font-weight-bold">
                <div class="col-sm-12 col-md-6">
                    @Html.Label("سال تولد", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.birthyear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birthyear, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-12 col-md-6">
                    @Html.Label("ماه تولد", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.birthmonth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birthmonth, "", new { @class = "text-danger" })
                </div>
            </div>
            @widgets.technical_foot.Entry_Technical_Foot(Model.Technical_Foot)

            <div class="form-group row border mx-1 rounded">
                <div class="col-sm-12 text-sm-center col-md-6 text-md-left p-0">
                    <input type="submit" value="‌‌‌  ذخیره  " class="btn btn-primary px-5 m-2" />
                </div>
                <div class="col-sm-12 text-sm-left text-md-right col-md-6 p-0">
                    @Html.ActionLink("بازگشت به ليست", "Index", null, new { @class = "btn btn-outline-warning px-5 m-2" })
                </div>
            </div>
        </div>
    </div>
}
