@model ClubAdministration.Models.training_patterns

@{
    ViewBag.Title = "حذف برنامه تمريني" + " " + Model.pattern.title;
}

@using (Html.BeginForm("DeletePlan", "drills", FormMethod.Post, new { name = "trainingsform", id = "trainingsform" }))
{
    @widgets.common.ribbon.Show_Ribbon(Url, "training.plans.delete", "آيا از حذف " + (Model.pattern.title + " براي " + Model.training.term_title + " مطمئن هستيد؟"), new { id = Model.ID }, new { id = Model.training_id })
    @Html.AntiForgeryToken()
    <div class="mt-2 rounded-bottom shadow-sm mb-4">
        <h3 class="text-center rounded-top p-3 border bg-light m-0">اطلاعات پايه</h3>
        <h3></h3>
        <div class="rounded-bottom px-2 py-2 border border-top-0 ">
            <table class="table table-striped table-responsive-sm">
                <tr>
                    <td>
                        كد شناسايي
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ID)
                    </td>
                </tr>
                <tr>
                    <td>
                        برنامه تمريني
                    </td>
                    <td>
                        @Html.ActionLink(Model.pattern.title, "Detailspattern", new { controller = "drills", id = Model.pattern_id })
                    </td>
                </tr>
                <tr>
                    <td>
                        ترتيب اجرا
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.orders)
                    </td>
                </tr>
                <tr>
                    <td>
                        تاریخ شروع برنامه تمريني
                    </td>
                    <td>
                        @Model.start_date
                    </td>
                </tr>
                <tr>
                    <td>
                        تاریخ خاتمه برنامه تمريني
                    </td>
                    <td>
                        @Model.end_date
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
