@model ClubAdministration.Models.system.group_roles

@{
    ViewBag.Title = "افزودن نقش‌ها";
    var group = (ClubAdministration.Models.system.groups)ViewBag.group;
}
<style>
    .scrollablecontainer {
        overflow-y: scroll;
        height: 250px;
    }

    .editor {
        height: 260px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal p-0 mb-2 shadow-sm">
        <h4 class="bg-light border text-center p-2 py-3 m-0 rounded-top">افزودن نقش‌ها</h4>
        <div class="container-fluid border rounded-bottom border-top-0 m-0">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row font-weight-bold mt-2">
                <div class="col-sm-12 col-md-6">
                    @Html.Label("نقش‌ها", htmlAttributes: new { @class = "control-label " })
                    @Html.TextBox("txtsksrch", null, new { placeholder = "جستجو...", onkeyup = "searchAPI(this,'#roles')" })
                    <ul class="list-group p-1 scrollablecontainer" id="roles">
                        @foreach (SelectListItem item in (IQueryable<System.Web.Mvc.SelectListItem>)ViewBag.role_id)
                        {
                            <li class="list-group-item list-group-item-action">
                                @Html.CheckBox("rolesid", item.Selected, new { value = item.Value }) @(item.Text)
                            </li>
                        }
                    </ul>
                    <input type="hidden" name="group_id" id="group_id" value="@group.ID" />
                </div>
            </div>
            <div class="form-group row border mx-1 rounded">
                <div class="col-sm-12 text-sm-center col-md-6 text-md-left p-0">
                    <input type="submit" value="  ايجاد  " class="btn btn-primary px-5 m-2" />
                </div>
                <div class="col-sm-12 text-sm-left text-md-right col-md-6 p-0">
                    @Html.ActionLink("بازگشت به ليست", "roles", new { id = group.ID }, new { @class = "btn btn-outline-warning px-5 m-2" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("input[type=checkbox]").each(function () {
            $(this).on("change", function () {
                if (this.checked) {
                    $(this).parent().addClass("bg-info");
                }
                else {
                    $(this).parent().removeClass("bg-info");
                }
            });
        });
    });

    function searchAPI(target, list) {
        var value = $(target).val().toLowerCase();
        $(list + " > li").each(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    }

</script>