@model ClubAdministration.Models.coach

@{
    ViewBag.Title = "حذف" + " " + Model.FullName;
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @name = "coachesform", @id = "coachesform" }))
{
    @widgets.common.ribbon.Show_Ribbon(Url, "coaches.delete.default", "آیا از حذف" + " " + Model.FullName + "اطمینان دارید؟", new { id = Model.ID })
    @Html.AntiForgeryToken()

    <div class="mt-2 rounded-bottom shadow-sm mb-4">
        <h3 class="text-center rounded-top p-3 border bg-light m-0">اطلاعات پايه</h3>
        <div class="rounded-bottom px-2 py-2 border border-top-0 ">
            <table class="table table-striped table-responsive-sm">
                <tr>
                    <th>
                        كد شناسايي
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ID)
                    </td>
                </tr>
                <tr>
                    <th>
                        نام مربي
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.FullName)
                    </td>
                </tr>
                <tr>
                    <th>
                        تاريخ تولد
                    </th>
                    <td>
                        @Model.coach_birthdate
                    </td>
                </tr>
                <tr>
                    <th>
                        جنسيت
                    </th>
                    <td>
                        @widgets.gender_status.Show_Gender_Status(Model.coach_gender)
                    </td>
                </tr>
                <tr>
                    <th>
                        تاريخ شروع همكاري
                    </th>
                    <td>
                        @Model.registeration_date
                    </td>
                </tr>
            </table>
        </div>
    </div>

}