@model ClubAdministration.Models.pattern_items
@{
    ViewBag.Title = "ويرايش تمرين  " + Model.pattern.title;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal p-0 mb-2 shadow-sm">
        <h4 class="bg-light border text-center p-2 py-3 m-0 rounded-top">ويرايش تمرين  @Model.pattern.title</h4>
        <div class="container-fluid border rounded-bottom border-top-0 m-0">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("pattern_id", Model.pattern_id)
            <div class="form-group row font-weight-bold">
                <div class="col-sm-12 col-md-6">
                    @Html.Label("تمرين", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("drill_id", null, htmlAttributes: new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.drill_id, "", new { @class = "text-danger" })
                </div>
            </div>
            @widgets.drill_weekday.Entry_Drill_WeekDay(Model.weekday)
            <div class="form-group row font-weight-bold">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">آيتم تمرين دوره‌اي اجرا شود؟</label>
                    @Html.CheckBoxFor(a => a.periodic)
                </div>
            </div>
            @*@widgets.drill_periodic.Entry_Drill_Periodic(Model.periodic)*@
            @widgets.drill_hour.Entry_Drill_Hour(Model.drill_hour)
            <div class="form-group row border mx-1 rounded">
                <div class="col-sm-12 text-sm-center col-md-6 text-md-left p-0">
                    <input type="submit" value="  ذخيره  " class="btn btn-primary px-5 m-2" />
                </div>
                <div class="col-sm-12 text-sm-left text-md-right col-md-6 p-0">
                    @Html.ActionLink("بازگشت به ليست", "patternitems", new { id = Model.pattern_id }, new { @class = "btn btn-outline-warning px-5 m-2" })
                </div>
            </div>
        </div>
    </div>
}
