@model ClubAdministration.Models.metrics

@{ 
    ViewBag.Title = "ایجاد آيتم ارزيابي";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal p-0 mb-2 shadow-sm">
        <h4 class="bg-light border text-center p-2 py-3 m-0 rounded-top">جزئیات آيتم</h4>
        <div class="container-fluid border rounded-bottom border-top-0 m-0">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                <div class="col font-weight-bold">
                    @Html.Label("آيتم", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.Label("توضيحات", htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.tips, new { @id = "tips", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tips, "", new { @class = "text-danger" })
                </div>
            </div>
            @widgets.metric_direction.Entry_Metric_Direction(0)
            <div class="form-group row">
                <div class="col-sm-12 col-md-6 font-weight-bold">
                    @Html.Label("محدوده بالايي", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.upperBound, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-12 col-md-6 font-weight-bold">
                    @Html.Label("محدوده پاييني", htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.lowerBound, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row border mx-1 rounded">
                <div class="col-sm-12 text-sm-center col-md-6 text-md-left p-0">
                    <input type="submit" value="  ايجاد  " class="btn btn-primary px-5 m-2" />
                </div>
                <div class="col-sm-12 text-sm-left text-md-right col-md-6 p-0">
                    @Html.ActionLink("بازگشت به ليست", "Issuers", null, new { @class = "btn btn-outline-warning px-5 m-2" })
                </div>
            </div>
        </div>
    </div>
}
